#    things not to be saved into the repository
#    files given without path names are never uploaded,
#    no matter where they occur in the file tree.
#

source/Makefile.machine
source/Rebuild.err
source/Rebuild.log

*.x
*.bin
*.o
*.mod
*.tar.gz
*.tar.bz2

.DS_Store
docs/.DS_Store
