#    things not to be saved into the repository
#    files given without path names are never uploaded,
#    no matter where they occur in the file tree.
#

source/Makefile.machine
source/Rebuild.err
source/Rebuild.log

*.x
*.bin
*.o
*.mod

.DS_Store
docs/.DS_Store
pcet-5.6.tar.gz
utils/reorg-frcm_5.4.tar.gz
utils/reorg-frcm_5.5a.tar.gz
